* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

/* INDIVIDUAL CATEGORY PAGES -------------------------------------------*/

.container{
  /* BACKGROUND */
  /* adding spacing bewteen boxes, col + row */
  width: 100%;
  min-height: 100vh;
  /* flex box */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* rox + col gap */
  row-gap: 5vmin;
  column-gap: 5vmin;
  background-color: #e4ebf6;
  padding-left: 8vmin;
  padding-right: 8vmin;
  padding-top: 8vmin;
  padding-bottom: 8vmin;
}

/* title & price & image */
.product-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff1ea; */
  width: 29vmin;
  height: 50vmin;
}


/* title & price */
.product-card h5, .product-card p{
  /* background-color: #f9ced8; */
  font-size: 2vmin;
  text-align: left;
}

.flexTop{
  margin-bottom: 2vmin;
}

.flexBottom{
  /* width: 25vmin; */
  height: 16vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2vmin;
}

.flexBottom h5{
  font-weight: 100;
  font-size: 1.8vmin;
}

.flexTop img{
  height: 29vmin;
  width: 29vmin;
  margin-top: 2vmin;   
}

.categories{
  font-variant-caps: all-small-caps;
}


/* PRODUCT PAGES ---------------------------------------------------*/
.itemContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 6.5vmin;
  width: 100%;
  height: calc(100vh - 8vmin);
  background-color: #e4ebf6;
  
}

.itemLeft{
  background-color: palevioletred;
  height: 79vmin;
  width: 64vmin;
}
.itemLeft img{
  height: 80vmin;
  width: 65vmin;
}

.itemRight{
  /* position: absolute; */
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  /* background-color: palegreen; */
  height: 80vmin;
  width: 39vmin;
}

.itemTitle, .itemPrice, .itemSize, .itemDetails, .itemShip{
  margin-bottom: 5vmin;
}

.itemButton{
  margin-bottom: 3vmin;
}

.itemSize{
  font-size: 2.1vmin;
  font-weight: 700;
}

.itemDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2.2vmin;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.itemDetails p{
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  
}

.itemTitle, .itemPrice {
  font-size: 3vmin;
}

.itemButton{
  height: 6vmin;
  width: 39vmin;
  background: black;
  border: none;
  border-radius: 1.2vmin;
  font-size: 2.3vmin;
  box-shadow: 5px 8px 15px #888888;
}

.itemButton a {
  color: whitesmoke;
}

select{
  height: 4.5vmin;
  width: 17vmin;
  font-size: 2vmin;
  background-color: #e4ebf6;
  border-radius: 1.2vmin;
}

.itemSize p{
  margin-bottom: 1vmin;
}

.itemShip{
  display: inline-flex;
  font-size: 2vmin;
  margin-bottom: 6vmin;
}

.itemShip a{
  margin-left: 1vmin;
  font-weight: 700;
}
